<div class="container">
  <div class="cols">
    <div class="section">
      <h3>Items</h3>

      <ul>
        <li>
          <span class="description">items go here</span>

          <div>
            <span class="amount">{{ 1 | currency }}</span>
            <button>Add to cart</button>
          </div>
        </li>
      </ul>
    </div>

    <!-- <div class="section">
      <h3>Cart</h3>

      <ul>
        <li>
          <div>
            <span class="description"></span>
            <span class="count">x{{ 1 | number }}</span>
          </div>

          <div>
            <span class="amount">{{ 2 | currency }}</span>
            <button>Remove from cart</button>
          </div>
        </li>
      </ul>
    </div> -->
  </div>

  <!-- <div class="total">
    Total: {{ 0 | currency }}
  </div> -->
</div>
