@import './reset-button';

/* You can add global styles to this file, and also import other style files */
body, html {
  font: 1.2em / 1.5 Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  background: lightslategrey;
  height: 100%;
  min-width: 1200px;
  margin: 0;
}
